# FastAPI
fastapi
uvicorn[standard]

# HTTP client
httpx

# PostgreSQL
psycopg2-binary

# ORM
sqlalchemy
alembic

#  SQLAlchemy
# sqlmodel

# Validation
pydantic
pydantic-settings

# AWS S3
boto3

# file-upload
python-multipart

# env
python-dotenv

# JWT 
PyJWT[crypto]>=2.13.0
argon2-cffi>=23.1.0

# Async DB
asyncpg

# Logger
loguru

# Testing
pytest
pytest-asyncio

# Linter
black
isort
flake8
mypy